{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Публикации
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center">
            <a href="{% url 'post:subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a>
        </p>
    {% else %}
        <p class="text-center">
            <a href="{% url 'post:unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a>
        </p>
    {% endif %}
    <h1>Все публикации</h1>

    <hr>

    {% if perms.newPortal.add_post %}
        <p class="text-center">
            <a href="{% url 'post:post_create' %}" class="btn btn-primary">Создать запись</a>
        </p>
    {% endif %}

    {% if category_posts_list %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Дата публикации</th>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Содержание</th>
                    {% if perms.newPortal.change_post or perms.newPortal.delete_post %}
                        <th>Действия</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for post in category_posts_list %}
                    <tr>
                        <td>{{ post.created_at|date:"d F Y, H:i" }}</td>
                        <td>{{ post.title }}</td>
                        <td>
                            {% for category in post.categories.all %}
                                <a href="{% url 'post:category_list' category.id %}">{{ category }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ post.content|truncatechars:100 }}</td>
                        {% if perms.newPortal.change_post or perms.newPortal.delete_post %}
                            <td>
                                {% if perms.newPortal.change_post %}
                                    <a href="{% url 'post:post_edit' pk=post.id %}" class="btn btn-sm btn-warning">Изменить</a>
                                {% endif %}
                                {% if perms.newPortal.delete_post %}
                                    <a href="{% url 'post:post_delete' post.id %}" class="btn btn-sm btn-danger">Удалить</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}

    <br>
    <br>
    <br>

    {# Нумерация страниц #}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}" class="btn btn-sm btn-outline-secondary">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-sm btn-outline-secondary">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    <span class="btn btn-sm btn-info">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-sm btn-outline-secondary">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}" class="btn btn-sm btn-outline-secondary">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}
{% endblock content %}
