{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}
    <div class="author-button">
        <a class="nav-link" href="{% url 'post:account_upgrade' %}">
            <h4><strong>Стать автором!</strong></h4>
        </a>
    </div>

    <h2 class="news-heading">Список новостей</h2>
    <hr class="divider" />

    {% for post in postt %}
        <div class="news-item">
            <h3 class="news-title">{{ post.title|censor }}</h3>
            <p class="news-date">{{ post.created_at|date:"d.m.Y" }}</p>
            <p class="news-content">{{ post.content|censor }}</p>
            <a class="read-more" href="{% url 'post:post_detail' post.id %}">Читать далее</a>

            <p class="news-categories">
                {% for category in post.categories.all %}
                    <a class="category-link" href="{% url 'post:category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </p>
        </div>
        <hr class="divider" />
    {% endfor %}

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link">&laquo; 1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
